* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #abc1d6
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

#timers {
    display: flex;
    justify-content: center;
    width: 440px;
    margin: 0 auto;
}

#stop-watch, #fastest-time, button{
   text-align: center;
    padding: 5px 0;
    font-size: 1.2em;
    border-radius: 10px;
    color: white
}

#stop-watch, #start-restart-btn {
    background-color: #8c0003;
}

#fastest-time, #fastest-time-btn {
    background-color:#091c69;
}

#fastest-time {
    display: none;
}

#menu {
    display: flex;
    width: 440px;
    justify-content: center;
    margin: 0 auto;
}

button {
    width: 100%;
}

#memory-game {
    width: 440px;
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: escale(1);
    transform-style: preserve-3d;
    transition: transform 1.5s;
    background-color: white;
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg)
}